extends ../../layout/default.pug
block main
  if (records.title)
    h1(class="mb-4") #{records.title}

  if (records.price)
    div(class="mb-4") Giá: <b>#{records.price}$</b>

  if (records.thumbnail)
    div(class="mb-4")
      img(
        src=records.thumbnail
        style="width: 100px"
      )

  if (records.status)
    div(class="mb-4")
      span Trạng thái:
      if (records.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (records.position)
    div(class="mb-4") Vị trí: <b>#{records.position}</b>

  if (records.description)
    div(class="mb-4") Mô tả: <b>!{records.description}</b>