extends ../../layout/default.pug


block main
  .container.my-3
    h1(class="mb-4") Thông tin đơn hàng
    
    if(order)
      .row
        .col-12
          h4(class="mb-2") Thông tin cá nhân
          table(class="table table-bordered")
            tbody
              tr
                td Họ tên
                td
                  b #{order.userInfo.fullName}
              tr
                td Số điện thoại
                td
                  b #{order.userInfo.phone}
              tr
                td Địa chỉ
                td
                  b #{order.userInfo.address}

      .row
        .col-12
          h4(class="mb-2") Thông tin đơn hàng
          table(class="table table-bordered")
            thead
              tr
                th STT
                th Ảnh
                th Tên
                th Giá
                th Số lượng
                th Tổng tiền
            tbody
              if(order.products.length > 0)
                each item, index in order.products
                  tr
                    td #{index + 1}
                    td
                      img(
                        src=item.thumbnail
                        alt=item.title
                        width="80px"
                      )
                    td #{item.title}
                    td #{item.price}$
                    td #{item.quantity}
                    td #{item.totalPrice}$
    
      .row
        .col-12
          div.select-container
            select(name="orderStatus", id="orderStatus", class="form-select-status-order")
              option(value="confirmed", selected=status == "confirmed") Đã xác nhận
              option(value="processing", selected=status == "processing") Đang xử lý
              option(value="shipping", selected=status == "shipping") Đang giao hàng
              option(value="delivered", selected=status == "delivered") Đã giao hàng
              option(value="cancelled", selected=status == "cancelled") Bị hủy


       
          if(order.products.length > 0)
            button(   
              class="btn btn-primary"
              style="float: right;"
              data_id=order.id
              id="update-order"
            ) Cập nhật
    form(
      data-path="/admin/orders/update"
      method="POST"
      enctype="multipart/form-data"
      form-update
    )