extends  ../../layout/default.pug

include ../../mixins/search.pug

include ../../mixins/alert.pug
include ../../mixins/filter.pug
include ../../mixins/search.pug

block main

    +alert-success()

    h1(class="mb-4") ĐƠN HÀNG 
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
        .card-body
          .row
            .col-6
              div.select-container
                select(name="orderStatus", id="orderStatusList", class="form-select-status-order")
                  option(value="all") Tất cả
                  option(value="pending") Chờ xác nhận
                  option(value="confirmed") Đã xác nhận
                  option(value="processing") Đang xử lý
                  option(value="shipping") Đang giao hàng
                  option(value="delivered" ) Đã giao hàng
                  option(value="cancelled") Bị hủy
            .col-6
              +search()
      .card-header Danh sách đơn hàng
       .card-body
        table(
              class="table table-hover table-sm"
              checkbox-multi
            )   
          thead
            tr
              th STT
              th Mã đơn hàng
              th Tổng đơn
              th Thời gian đặt
              th Trạng thái
              th Cập nhật
              th
          tbody(id="orderList")
            each item,index in orders 
              tr 
                td #{index + 1}
                td #{item.id}
                td #{item.totalPrice}$
                td
                  div #{moment(item.createdAt).format("DD-MM-YYYY")}
                td
                  case item.status
                    when "pending"
                      a(
                        class="btn btn-outline-danger" 
                      ) Chờ xác nhận
                    when "confirmed"
                      a(
                        class="btn btn-outline-primary" 
                      ) Đã xác nhận
                    when "processing"
                      a(
                        class="btn btn-outline-secondary" 
                      ) Đang xử lý
                    when "shipping"
                      a(
                        class="btn btn-outline-info" 
                      ) Đang giao hàng
                    when "delivered"
                      a(
                        class="btn btn-outline-success" 
                      ) Đã giao hàng
                    when "cancelled"
                      a(
                        class="btn btn-outline-danger" 
                      ) Bị hủy
                  
                td
                  div #{item.createByFullName}
                  div #{moment(item.updateAt).format("DD-MM-YYYY")}
                td
                  a(
                      href=`/${prefixAdmin}/orders/detail/${item.id}?status=${item.status}`
                      class="btn btn-info btn-sm ml-1"
                    ) Chi tiết
                   