extends  ../../layout/default.pug

include ../../mixins/search.pug

include ../../mixins/alert.pug

block main

    +alert-success()

    h1(class="mb-4") Danh sách đơn hàng
    .card.mb-4
      .card-header 
       
        table(
              class="table table-hover table-sm"
              checkbox-multi
            )   
          thead
            tr
              th STT
              th Mã đơn hàng
              th Tổng đơn
              th Thời gian đặt
              th Trạng thái
              th Cập nhật
              th
              //- th Vị trí
            

          tbody
            each item,index in orders 
              tr 
                td #{index + 1}
                td #{item.id}
                td #{item.totalPrice}$
                td
                  div #{moment(item.createdAt).format("DD-MM-YYYY")}
                td
                  if(item.status === "Đã xác nhận") 
                    a(
                      class="badge badge-success" 
                    ) Đã xác nhận
                  else
                    a(
                      class="badge badge-danger" 
                    ) #{item.status}
                td
                  div #{item.createByFullName}
                  div #{moment(item.updateAt).format("DD-MM-YYYY")}
                td
                  a(
                      href=`/${prefixAdmin}/orders/detail/${item.id}`
                      class="btn btn-info btn-sm ml-1"
                    ) Chi tiết
                  
                    


      form( 
        form-changeStatus
        method="POST"
        action=""
        data-path="/admin/products/changestatus"
      )

      form(
        form-del
        method="POST"
        action=""
        data-path="/admin/products/delete"
      )

      form(
        form-del-all
        method="POST"
        action=""
        data-path="/admin/products/delete-all"
      )